@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --fonte-destaque: 'Merriweather Sans', sans-serif;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: var(--fonte-destaque);
}

div.page {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

div.esquerda {
  display: flex;
  flex-direction: column;
  gap:30px;
  
}

div#perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-cards);
    width: 348px;
    height: 292px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    margin-left: 40px;
}

div#perfil img{
    margin-top: 32px;
    margin-bottom: 30px;
    width: 128px;
    height: 128px;
}

div#perfil h1 {
  font-size: 23px;
  line-height: 29px;
  font-style: normal;
  font-weight: 700;
}
/*-------------------------------------------------------------*/

div#contato {
  background-color: var(--bg-cards);
  width: 348px;
  height: 348px;
  border-radius: 20px;
  box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-left: 40px;
  display: flex;
}

div#contato div.img-link {
  display: flex;
  flex-direction: column;
  gap:20px;
  margin-bottom: 0;
  margin-left: 40px;
  margin-right: 0px;
  height: 290px;
  margin-top: 34px;
}

div#contato div.txt-link{

  display: flex;
  flex-direction: column;

  gap:28px;

  margin: 34px 0px 20px 20px ;
  
  font-style: normal;
  font-weight: 400;
  font-size: 13px;

}

.txt-link a {
  color: var(--text-color);
  text-decoration: none;
}


div.tecnologias {
  background-color: red;
  width: 348px;
  height: 208px;
}

div.tecnologias #gallery {
  background-color: blue;
  display: flex;
  flex-direction: column;
}

/*
div.tecnologias #gallery a {
  
}


justify-content:center
*/